{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- hero image -->
<div class="hero-image">
    <div>
        <h1 class="hero-text display-4 text-white">
            New Product Releases
        </h1>
    </div>
    <div>
        <h4>
            <a href="{% url 'products' %}" class="shop-button btn btn-lg text-white">Shop
                All
                Products</a>
        </h4>
    </div>
</div>
<!-- Featured Products -->
<div class="container">
    <h2 class="pb-3">Featured Products</h2>
    <div class="row">
        {% for product in featured_products %}
        {% if product.featured %}
        <div class="col mb-5">
            <div class="card my-2 shadow">
                {% if product.image %}
                <a href="{% url 'product_details' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.title }}">
                </a>
                {% else %}
                <a href="{% url 'product_details' product.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL}}noimage.png" alt="{{ product.title }}">
                </a>
                {% endif %}
                <div class="card-body pb-2">
                    <h4 class="mb-2 text-center">{{ product.title }}</h4>
                    <h4 class="text-center">£{{ product.price }}</h4>
                    <div class="row">
                        <div class="col-md-6 mt-2">
                            {% if product.category %}
                            <p class="small">
                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                </a>
                            </p>
                        </div>
                        {% endif %}
                        <div class="col-md-6 mt-2">
                            <p class="text-right text-muted">SKU: {{ product.sku }}</p>
                        </div>
                    </div>
                    {% if product.rating %}
                    <small class="text-muted">{{ product.rating }} / 5 &#11088</small>
                    {% else %}
                    <small class="text-muted">No Rating</small>
                    {% endif %}
                </div>
                <div class="card-footer pt-1 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            {% if request.user.is_superuser %}
                            <small>
                                <a href="{% url 'edit_product' product.id %}">Edit</a> |
                                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}