html {
    height: 100%;
}

body {
    background-color: #F0F3F4;
    padding-top: 160px;
    font-family: 'Oswald', sans-serif;
}

.nav-row, .navbar {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(144, 144, 144));
}

h1, h3, h4 {
    font-family: 'Bebas Neue', cursive;
}

.nav-link {
    color: #282727;
}

.nav-link:hover {
    color:rgb(248, 247, 247)
}

.card {
    border: 3px solid black;
}

.menu-btn {
    text-transform: uppercase;
    color: #282727;
    background-color: #f7b91e;
    border-style: solid;
    border-color: #282727;
    border-width: 3px;
    border-radius: 6px;
  }

/* Hero Image */

.hero-image {
    background: url('/media/banner.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

.hero-text {
    padding-top: 5rem;
    margin-left: 5rem;
}

.shop-button {
    border-radius: 0%;
    border-color: white;
    margin-left: 5rem;
    margin-top: 5rem;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btn-outline-black {
    background: white;
    color: black !important; 
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-button:hover,
.shop-button:active,
.shop-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/* bootstrap toasts */

.message-container {
    position: fixed;
    top: 85px;
    right: 15px;
    z-index: 99999999999;
}

/* Footer */

footer {
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(144, 144, 144));
}

.footer-menu a {
    color: #222;
}

.footer-menu a:hover {
    color: white;
}


/* ------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

/* padding for smaller devices */
@media (max-width: 991px) {
    body {
        height: calc(100vh - 116px);
        padding-top: 1.5rem !important;
    }

    .hero-image {
        height: calc(100vh - 116px);
    }

    .display-4.hero-text.text-white {
        margin-left: 2rem;
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }
}
