<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black px-3 border-right" href="" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">View All Products</a>
                <a href="{% url 'home' %}" class="dropdown-item">Home</a>
                <a href="{% url 'contact' %}" class="dropdown-item">Contact Us</a>
            </div>
                
        </li> -->
        <li class="nav-item active">
            <a class="font-weight-bold nav-link text-black px-3 border-right" href="{% url 'home' %}">Home <span
                    class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black px-3 border-right" href="{% url 'products' %}">View All Products</a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black px-3 border-right" href="#" id="" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Exterior Styling
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="exterior-link">
                <a href="{% url 'products' %}?category=bumpers" class="dropdown-item">Bumpers</a>
                <a href="{% url 'products' %}?category=side_skirts" class="dropdown-item">Side Skirts</a>
                <a href="{% url 'products' %}?category=spoilers" class="dropdown-item">Spoilers</a>
                <a href="{% url 'products' %}?category=full_bodykits" class="dropdown-item">Full Body Kits</a>
                <a href="{% url 'products' %}?category=bumpers,side_skirts,spoilers,full_kits" class="dropdown-item">All
                    Exterior Styling</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black px-3 border-right" href="#" id="" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Interior Styling
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="interior-link">
                <a href="{% url 'products' %}?category=steering_wheels" class="dropdown-item">Steering Wheels</a>
                <a href="{% url 'products' %}?category=seats" class="dropdown-item">Seats</a>
                <a href="{% url 'products' %}?category=steering_wheels,seats" class="dropdown-item">All Interior
                    Styling</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black px-3 border-right" href="#" id="" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Gifts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gifts-link">
                <a href="{% url 'products' %}?category=3d_frames" class="dropdown-item">3D Frames</a>
                <a href="{% url 'products' %}?category=clothing" class="dropdown-item">Merchandise</a>
                <a href="{% url 'products' %}?category=3d_frames,clothing,clearance" class="dropdown-item">All Gifts</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-black px-3" href="{% url 'contact' %}">Contact Us</a>
        </li>
    </ul>
</div>