<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="#" class="dropdown-item">By Price</a>
                <a href="#" class="dropdown-item ">By Rating</a>
                <a href="#" class="dropdown-item ">By Category</a>
                <a href="#" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id=""
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Exterior Styling
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="exterior-link">
                <a href="#" class="dropdown-item">Bumpers</a>
                <a href="#" class="dropdown-item">Side Skirts</a>
                <a href="#" class="dropdown-item">Spoilers</a>
                <a href="#" class="dropdown-item">Full Kits</a>
                <a href="#" class="dropdown-item">All Exterior Styling</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id=""
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Interior Styling
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="interior-link">
                <a href="#" class="dropdown-item">Steering Wheels</a>
                <a href="#" class="dropdown-item">Seats</a>
                <a href="#" class="dropdown-item">All Interior Styling</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black" href="#" id="" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Alloy Wheels
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wheels-link">
                <a href="#" class="dropdown-item">New Arrivals</a>
                <a href="#" class="dropdown-item">Deals</a>
                <a href="#" class="dropdown-item">Clearance</a>
                <a href="#" class="dropdown-item">All Wheels</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black" href="#" id="" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Gifts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gifts-link">
                <a href="#" class="dropdown-item">New Arrivals</a>
                <a href="#" class="dropdown-item">Deals</a>
                <a href="#" class="dropdown-item">Clearance</a>
                <a href="#" class="dropdown-item">All Gifts</a>
            </div>
        </li>
    </ul>
</div>